{%extends 'base.html'%}
{%block content%}
{% include "accounts/customerbaner.html" %}
<center>
<table>
<tr>
  <td>

    <img src="/static/baner.jpg" alt="">
  </td>
</tr>
</table>
</center>
<div class="pomps-list">
  {%for pomp in pomps%}
  <div class="pomp-list">
    <h2>
      <a href="{% url 'pompsale:detalp' slugg=pomp.slug %}">{{pomp.brand}}</a>
    </h2>
    <h3>{{pomp.models}}</h3>
    <h3>
    {{pomp.snippet}}</h3>
  <p><img src="{{pomp.image.url}}" alt=""></p>
  <p class="price" >قیمت:
    {{pomp.price}}
  </p>
    </div>
  {%endfor%}

</div>
{%endblock%}
