{%extends 'base.html'%}
{%block content%}
<center>
<table>
<tr>
  <td>

    <img src="/static/baner.jpg" alt="">
  </td>
</tr>
</table>
</center>
{%if key == '1'%}
  {%include 'accounts/adminbaner.html'%}
{%elif key == '2'%}
  {%include 'accounts/customerbaner.html'%}
{%endif%}
<div >
<br>
<center><p><h2 style="font-size:20px;color:blue">سامانه فروش عمده تجهیزات استخر</h2></p></center>
<br>
<p>به سامانه فروش پمپ مرکزی کرج خوش آمدید</p>
<br>
<p>فروشگاه افتخاری مفتخر است به پخش عمده انواع تجهیزات استخر در سرتاسر کشور ایران</p>
<br>
<p>با بیش از 15 سال سابقه فعالیت در حوزه تجهیزات و تاسیسات استخر  </p>
<br>
<p>حوزه فعالیت فروش عمده تجهیزات زیر می باشد:</p>
<p>انواع پمپ</p>
<p> کفکش</p>
<p>ستکنترل</p>
<p>کلر</p>
<p>زاج</p>
<p>کات کبود</p>
<p>اسکیمر </p>
<p>و ...</p>
</div>
  {%endblock%}
