{%extends 'base.html'%}

{%block content%}
<center>
<table>
<tr>
  <td>

    <img src="/static/baner.jpg" alt="">
  </td>
</tr>
</table>
</center>
{%if key == '1'%}
  {%include 'accounts/adminbaner.html'%}
{%elif key == '2'%}
  {%include 'accounts/customerbaner.html'%}
{%endif%}
<center>
    <h2>برای ارتباط با پشتیبانی نظر خود را ثبت کنید</h2>
    <p>روشهای تماس با ما:</p>
    <p>تلگرام</p>
    <p>واتسآپ</p>
    <p>تلفن تماس: 88888888</p>
    <p>آدرس: استان البرز، هشتگرد</p>
    </center>

{%endblock%}
